In [7]:
import pandas as pd
import datetime as dt 
import time as t
import numpy as np
import openpyxl
from  matplotlib import pyplot as plt

In [363]:
import warnings

warnings.filterwarnings("ignore")

In [8]:
t.ctime() ## provide current time 
dt.date.today()

datetime.date(2025, 11, 15)

## Import Dataset

In [277]:
df = pd.read_excel("Online Retail.xlsx")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [12]:
print('Dataset Shapes',df.shape) 
print('Dataset Size',df.size) #4335272

Dataset Shapes (541909, 8)
Dataset Size 4335272

In [188]:
## group by country and do the initailize analysis
df.groupby("Country").describe()

                      Quantity                                          \
                         count       mean      min    25%   50%    75%
Country
Australia               1259.0  66.444003   -120.0   6.00  24.0   96.0
Austria                  401.0  12.037406    -48.0   6.00   9.0   12.0
Bahrain                   19.0  13.684211    -54.0   5.00   6.0   10.0
Belgium                 2069.0  11.189947    -12.0   4.00  10.0   12.0
Brazil                    32.0  11.125000      2.0   3.00  10.0   18.0
Canada                   151.0  18.298013      1.0   6.00  12.0   20.0
Channel Islands          758.0  12.505277     -2.0   4.00  10.0   12.0
Cyprus                   622.0  10.155949    -33.0   2.00   5.0   12.0
Czech Republic            30.0  19.733333    -24.0  12.00  24.0   24.0
Denmark                  389.0  21.048843    -25.0  12.00  12.0   24.0
EIRE                    8196.0  17.403245   -288.0   4.00  10.0   12.0
European Community        61.0   8.147541     -2.0   3.00   6.0   12.0
Finland                  695.0  15.346763    -27.0   6.00  10.0   12.0
France                  8557.0  12.911067   -250.0   5.00  10.0   12.0
Germany                 9495.0  12.369458   -288.0   5.00  10.0   12.0
Greece                   146.0  10.657534     -1.0   5.25  10.0   12.0
Hong Kong                288.0  16.559028     -1.0   6.00  11.0   24.0
Iceland                  182.0  13.505495      2.0   6.00  12.0   12.0
Israel                   297.0  14.656566    -32.0   4.00  11.0   24.0
Italy                    803.0   9.961395    -12.0   4.00   6.0   12.0
Japan                    358.0  70.441341   -624.0   4.00  36.0   72.0
Lebanon                   45.0   8.577778      2.0   6.00   8.0   12.0
Lithuania                 35.0  18.628571      6.0  12.00  16.0   24.0
Malta                    127.0   7.433071     -4.0   3.00   6.0   12.0
Netherlands             2371.0  84.406580   -480.0  16.00  72.0  100.0
Norway                  1086.0  17.722836    -12.0   6.00  12.0   24.0
Poland                   341.0  10.712610     -6.0   4.00  10.0   12.0
Portugal                1519.0  10.651745    -12.0   3.00   8.0   12.0
RSA                       58.0   6.068966      1.0   3.00   6.0    9.5
Saudi Arabia              10.0   7.500000     -5.0   6.00   9.0   12.0
Singapore                229.0  22.855895     -1.0   8.00  12.0   24.0
Spain                   2533.0  10.589814   -288.0   3.00   6.0   12.0
Sweden                   462.0  77.136364   -240.0   8.00  20.0   96.0
Switzerland             2002.0  15.147353   -120.0   6.00  12.0   20.0
USA                      291.0   3.553265    -36.0 -10.00   5.0   12.0
United Arab Emirates      68.0  14.441176      1.0   6.00  12.0   12.0
United Kingdom        495478.0   8.605486 -80995.0   1.00   3.0   10.0
Unspecified              446.0   7.399103      1.0   1.00   3.0   12.0

                                          InvoiceDate  \
                          max         std       count
Country
Australia              1152.0   97.686932        1259
Austria                 288.0   21.745485         401
Bahrain                  96.0   30.016759          19
Belgium                 272.0   13.601441        2069
Brazil                   24.0    8.476723          32
Canada                  504.0   46.682587         151
Channel Islands         407.0   22.570877         758
Cyprus                  288.0   23.263590         622
Czech Republic           72.0   22.813990          30
Denmark                 256.0   27.402502         389
EIRE                   1440.0   40.368435        8196
European Community       24.0    6.546847          61
Finland                 144.0   21.001421         695
France                  912.0   21.425031        8557
Germany                 600.0   17.865719        9495
Greece                   48.0    7.724067         146
Hong Kong               144.0   16.936343         288
Iceland                 240.0   18.856172         182
Israel                  100.0   16.026474         297
Italy                   200.0   13.579809         803
Japan                  2040.0  177.191079         358
Lebanon                  24.0    4.314294          45
Lithuania                48.0   10.137542          35
Malta                    48.0    8.069726         127
Netherlands            2400.0  111.369151        2371
Norway                  240.0   22.644876        1086
Poland                   72.0   10.174628         341
Portugal                120.0   11.823938        1519
RSA                      12.0    3.329096          58
Saudi Arabia             12.0    5.720334          10
Singapore               288.0   27.742886         229
Spain                   360.0   24.130396        2533
Sweden                  768.0  128.891540         462
Switzerland             288.0   18.956901        2002
USA                      72.0   16.450545         291
United Arab Emirates     72.0   12.474909          68
United Kingdom        80995.0  227.588756      495478
Unspecified              48.0    8.765735         446

                                                     ... UnitPrice  \
                                               mean  ...       max
Country                                              ...
Australia             2011-06-08 16:28:46.465448704  ...    350.00
Austria               2011-07-28 12:30:16.009975040  ...     40.00
Bahrain               2011-04-27 19:26:12.631578624  ...     12.75
Belgium               2011-07-11 14:32:59.217013248  ...     39.95
Brazil                          2011-04-15 10:25:00  ...     10.95
Canada                2011-06-26 16:27:03.576159232  ...    550.94
Channel Islands       2011-06-30 06:42:35.620052736  ...    293.00
Cyprus                2011-06-05 07:13:49.196141568  ...    320.69
Czech Republic        2011-06-10 12:28:40.000000256  ...     40.00
Denmark               2011-07-28 05:10:39.948586240  ...     18.00
EIRE                  2011-07-19 06:49:16.866764288  ...   1917.00
European Community    2011-06-20 05:25:48.196721408  ...     18.00
Finland               2011-06-25 06:37:55.079136768  ...    275.60
France                2011-07-13 01:19:17.424331008  ...   4161.06
Germany               2011-07-03 14:23:10.331753472  ...    599.50
Greece                2011-06-01 17:34:37.397260288  ...     50.00
Hong Kong             2011-05-29 05:46:58.541666560  ...   2653.95
Iceland               2011-06-03 04:28:44.175824128  ...     12.75
Israel                2011-07-28 22:23:25.656565504  ...    125.00
Italy                 2011-07-16 16:29:56.264009984  ...    300.00
Japan                 2011-04-23 10:54:33.519553024  ...     45.57
Lebanon               2011-01-27 10:18:59.999999744  ...     14.95
Lithuania             2010-12-05 14:08:22.285714432  ...      5.95
Malta                 2011-08-09 03:08:36.377953024  ...     65.00
Netherlands           2011-06-29 11:07:32.846900224  ...    206.40
Norway                2011-07-30 03:39:49.834253824  ...    700.00
Poland                2011-06-19 08:53:59.648093696  ...     40.00
Portugal              2011-07-11 09:14:52.850559488  ...   1241.98
RSA                   2011-10-13 12:50:00.000000256  ...     14.95
Saudi Arabia                    2011-02-25 03:28:54  ...      5.49
Singapore             2011-05-22 16:36:59.213974016  ...   3949.32
Spain                 2011-06-29 16:39:39.273588736  ...   1715.85
Sweden                2011-07-04 09:25:57.922077952  ...     40.00
Switzerland           2011-07-17 08:24:13.876123904  ...     40.00
USA                   2011-10-07 08:22:58.969072128  ...     16.95
United Arab Emirates  2011-06-06 03:50:04.411764224  ...     37.50
United Kingdom        2011-07-04 05:01:41.098131456  ...  38970.00
Unspecified           2011-07-30 15:13:21.659192832  ...     16.95

                                 CustomerID                                  \
                             std      count          mean      min      25%
Country
Australia              12.455584     1259.0  12464.656076  12386.0  12415.0
Austria                 7.355153      401.0  12521.451372  12358.0  12360.0
Bahrain                 3.473506       17.0  12354.529412  12353.0  12355.0
Belgium                 4.244522     2069.0  12430.298695  12361.0  12383.0
Brazil                  2.831727       32.0  12769.000000  12769.0  12769.0
Canada                 44.713675      151.0  17321.079470  15388.0  17444.0
Channel Islands        15.547404      758.0  14888.151715  14442.0  14930.0
Cyprus                 22.419586      622.0  12404.951768  12359.0  12359.0
Czech Republic          7.098840       30.0  12781.000000  12781.0  12781.0
Denmark                 3.960285      389.0  12536.591260  12367.0  12406.0
EIRE                   54.035173     7485.0  14748.396126  14016.0  14911.0
European Community      4.375808       61.0  15108.000000  15108.0  15108.0
Finland                13.596057      695.0  12517.012950  12348.0  12428.0
France                 79.909126     8491.0  12677.995996  12413.0  12571.0
Germany                16.549026     9495.0  12646.139336  12426.0  12480.0
Greece                  8.470147      146.0  13757.424658  12478.0  12717.0
Hong Kong             307.646598        0.0           NaN      NaN      NaN
Iceland                 2.255381      182.0  12347.000000  12347.0  12347.0
Israel                  8.603055      250.0  12657.868000  12512.0  12653.0
Italy                  11.812512      803.0  12648.397260  12349.0  12578.0
Japan                   3.091514      358.0  12757.798883  12753.0  12753.0
Lebanon                 4.068741       45.0  12764.000000  12764.0  12764.0
Lithuania               1.366849       35.0  15332.000000  15332.0  15332.0
Malta                   9.380447      127.0  16996.031496  15480.0  15480.0
Netherlands             6.311412     2371.0  14420.302826  12759.0  14646.0
Norway                 30.558815     1086.0  12437.984346  12350.0  12432.0
Poland                  5.908683      341.0  12733.055718  12576.0  12576.0
Portugal               71.379996     1480.0  12746.486486  12356.0  12757.0
RSA                     3.668432       58.0  12446.000000  12446.0  12446.0
Saudi Arabia            1.385131       10.0  12565.000000  12565.0  12565.0
Singapore             515.275500      229.0  12744.000000  12744.0  12744.0
Spain                  41.003162     2533.0  12905.365574  12354.0  12484.0
Sweden                  8.285089      462.0  14697.149351  12483.0  12638.0
Switzerland             5.389581     1877.0  12666.977091  12357.0  12378.0
USA                     2.261647      291.0  12618.852234  12558.0  12607.0
United Arab Emirates    5.342353       68.0  14984.588235  12739.0  12739.0
United Kingdom         99.315438   361878.0  15547.871368  12346.0  14194.0
Unspecified             2.866079      244.0  13721.500000  12363.0  12743.0


                          50%       75%      max          std
Country
Australia             12415.0  12415.00  16321.0   437.862166
Austria               12374.0  12818.00  12865.0   216.537649
Bahrain               12355.0  12355.00  12355.0     0.874475
Belgium               12407.0  12431.00  12876.0   109.959803
Brazil                12769.0  12769.00  12769.0     0.000000
Canada                17444.0  17444.00  17844.0   521.471208
Channel Islands       14936.0  14936.00  14937.0   142.690534
Cyprus                12370.0  12391.00  13809.0   198.881197
Czech Republic        12781.0  12781.00  12781.0     0.000000
Denmark               12412.0  12429.00  13919.0   421.885123
EIRE                  14911.0  14911.00  14911.0   314.723756
European Community    15108.0  15108.00  15108.0     0.000000
Finland               12428.0  12631.00  12704.0   122.391650
France                12674.0  12689.00  14277.0   276.742088
Germany               12592.0  12662.00  14335.0   309.138487
Greece                12717.0  14439.00  17508.0  1749.647925
Hong Kong                 NaN       NaN      NaN          NaN
Iceland               12347.0  12347.00  12347.0     0.000000
Israel                12688.0  12688.00  12688.0    59.443289
Italy                 12584.0  12610.00  14912.0   437.392452
Japan                 12753.0  12754.00  12812.0    13.551801
Lebanon               12764.0  12764.00  12764.0     0.000000
Lithuania             15332.0  15332.00  15332.0     0.000000
Malta                 17828.0  17828.00  17828.0  1127.519710
Netherlands           14646.0  14646.00  14646.0   609.537906
Norway                12433.0  12438.00  12752.0    76.664586
Poland                12779.0  12779.00  12816.0    94.922103
Portugal              12766.0  12782.25  12811.0    96.997173
RSA                   12446.0  12446.00  12446.0     0.000000
Saudi Arabia          12565.0  12565.00  12565.0     0.000000
Singapore             12744.0  12744.00  12744.0     0.000000
Spain                 12540.0  12550.00  17097.0  1271.216375
Sweden                12697.0  17404.00  17404.0  2378.969176
Switzerland           12451.0  12458.00  13520.0   460.787707
USA                   12607.0  12607.00  12733.0    38.491407
United Arab Emirates  12739.0  17829.00  17829.0  2546.116963
United Kingdom        15514.0  16931.00  18287.0  1594.402590
Unspecified           12743.0  14265.00  16320.0  1515.390779

[38 rows x 32 columns]

### Data Cleaning

In [278]:
## Checkinh the sum of total null values in the excel 
df.isnull().sum() ## the column wise data for getting the NA Values in each of columns
#df[df['Description'].isnull()] ## where describtion is null
#df[df['CustomerID'].isnull()]  ## where Customer ID is null
df[(df['Description'].isnull()) | (df['CustomerID'].isnull())] #1454 rows Ã— 8 columns
#df[(df['Description'].isna()) & (df['CustomerID'].isna())] ## 1454 rows Ã— 8 columns

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom

In [279]:
## Validating if data is correct or not
df[df['StockCode'] == 22139]['Description'].value_counts(dropna=False) ## the stock also has different describtion

Description
RETROSPOT TEA SET CERAMIC 11 PC     988
NaN                                   4
amazon                                1
Name: count, dtype: int64

## Correcting Description

In [280]:
## get the va
stock_desc = df[['StockCode','Description']].value_counts(dropna=False).sort_values().reset_index()
no_description_stock = stock_desc[(stock_desc['Description'].isnull()) & (stock_desc['count'] == 1)]
correct_description_stock = stock_desc[(stock_desc['Description'].notnull()) & (stock_desc['count'] == 1)]
many_description_stock = stock_desc[(stock_desc['count'] > 1)]
#df[['StockCode','Description']].value_counts()

In [281]:
many_description_stock[many_description_stock['StockCode'] == 35957].sort_values(by='count',ascending=False).head(1)

     StockCode                        Description  count
3388     35957  SMALLFOLKART BAUBLE CHRISTMAS DEC     42

In [282]:
many_description_stock = many_description_stock.sort_values('count',ascending=False).groupby('StockCode').head(1)
#[many_description_stock['StockCode'] == 23541]

In [283]:
#many_description_stock.loc[:,'Description'] = many_description_stock.groupby('StockCode').max('count')

many_description_stock.columns =['StockCode','freq_desc','count']
#correct_description_stock.columns =['StockCode','freq_desc','count']
#no_description_stock.columns =['StockCode','freq_desc','count']

In [300]:
df1 = df.merge(many_description_stock,on='StockCode',how='left')

In [301]:
df1['Description'] = df1['freq_desc']

In [302]:
df1= df1.drop(columns=['freq_desc'])

In [303]:
df1[df1['StockCode'] == '85123A']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,count
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2302.0
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom,2302.0
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850.0,United Kingdom,2302.0
220,536390,85123A,WHITE HANGING HEART T-LIGHT HOLDER,64,2010-12-01 10:19:00,2.55,17511.0,United Kingdom,2302.0
262,536394,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,2010-12-01 10:39:00,2.55,13408.0,United Kingdom,2302.0
...,...,...,...,...,...,...,...,...,...
539342,581439,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,2011-12-08 16:30:00,5.79,NaN,United Kingdom,2302.0
539979,581452,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,2011-12-08 18:03:00,2.55,17675.0,United Kingdom,2302.0
540217,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 19:55:00,2.95,15796.0,United Kingdom,2302.0
540837,581492,85123A,WHITE HANGING HEART T-LIGHT HOLDER,3,2011-12-09 10:03:00,5.79,NaN,United Kingdom,2302.0
541639,581538,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,2011-12-09 11:34:00,2.95,14446.0,United Kingdom,2302.0

In [304]:
#df2['Description'] = df2['freq_desc']
df1['Description'] =  df1['Description'].str.capitalize()
df1['Description'] =  df1['Description'].str.strip()

In [305]:
df1

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,count
0,536365,85123A,White hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2302.0
1,536365,71053,White metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,328.0
2,536365,84406B,Cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,293.0
3,536365,84029G,Knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,473.0
4,536365,84029E,Red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,449.0
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680.0,France,148.0
541905,581587,22899,Children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680.0,France,320.0
541906,581587,23254,Childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680.0,France,307.0
541907,581587,23255,Childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680.0,France,162.0
541908,581587,22138,Baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680.0,France,974.0

In [307]:
df1['Description'] = df1['Description'].fillna('Not Available') ## where describtion is null

In [308]:
df1

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,count
0,536365,85123A,White hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2302.0
1,536365,71053,White metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,328.0
2,536365,84406B,Cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,293.0
3,536365,84029G,Knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,473.0
4,536365,84029E,Red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,449.0
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680.0,France,148.0
541905,581587,22899,Children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680.0,France,320.0
541906,581587,23254,Childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680.0,France,307.0
541907,581587,23255,Childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680.0,France,162.0
541908,581587,22138,Baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680.0,France,974.0

In [316]:
df1[['StockCode','Description']].value_counts()
#10002
df1.groupby(by=['StockCode','Description']).sum()

TypeError: can only concatenate str (not "int") to str

In [317]:
df1[df1['StockCode'] == 'gift_0001_40']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,count
38248,539492,gift_0001_40,Dotcomgiftshop gift voucher Â£40.00,1,2010-12-20 10:14:00,34.04,NaN,United Kingdom,3.0
145463,548893,gift_0001_40,Dotcomgiftshop gift voucher Â£40.00,1,2011-04-04 15:54:00,33.33,NaN,United Kingdom,3.0
281008,561513,gift_0001_40,Dotcomgiftshop gift voucher Â£40.00,1,2011-07-27 15:12:00,33.33,NaN,United Kingdom,3.0

In [322]:
df1 = df1.drop(columns=['count'])

In [324]:
df1

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,White hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,White metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,Cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,Knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,Red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,Children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,Childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,Childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,Baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680.0,France

## Correcting Unit Price and quantity

In [325]:
print(df.shape)
print(df1.shape)

(541909, 8)
(541909, 8)

In [326]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [327]:
df1.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [378]:
#df1[df1['Quantity'] < 0]
df2 = df1[ ~((df1['UnitPrice'] < 0) & (df1['CustomerID'].isna()))]

df2[df2['UnitPrice'] < 0]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [369]:
df2.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541907.000000,541907,541907.000000,406829.000000
mean,9.552281,2011-07-04 13:34:44.703353088,4.651957,15287.690570
min,-80995.000000,2010-12-01 08:26:00,0.000000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081560,NaN,94.395447,1713.600303

In [345]:
value_99  = float(df2['Quantity'].quantile(0.9999))

In [379]:
## negative quatity is backorder quantity
df2

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,White hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,White metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,Cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,Knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,Red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,Children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,Childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,Childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,Baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680.0,France

In [381]:
df2[df2['Quantity'] < 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,Set of 3 coloured flying ducks,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,Plasters in tin circus parade,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,Pack of 12 pink paisley tissues,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,Pack of 12 blue paisley tissues,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,Zinc t-light holder stars small,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
541715,C581568,21258,Victorian sewing box large,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
541716,C581569,84978,Hanging heart jar t-light holder,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
541717,C581569,20979,36 pencils tube red retrospot,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

In [398]:
df3 = df2.copy()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,White hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,White metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,Cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,Knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,Red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,Children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,Childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,Childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,Baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680.0,France

In [399]:
df3.insert(4,'Backorder_Quantity',df2['Quantity'].apply(lambda x : 0 if x > 0 else abs(x)))

In [400]:
df3

,InvoiceNo,StockCode,Description,Quantity,Backorder_Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,White hanging heart t-light holder,6,0,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,White metal lantern,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,Cream cupid hearts coat hanger,8,0,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,Knitted union flag hot water bottle,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,Red woolly hottie white heart.,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack of 20 spaceboy napkins,12,0,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,Children's apron dolly girl,6,0,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,Childrens cutlery dolly girl,4,0,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,Childrens cutlery circus parade,4,0,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,Baking set 9 piece retrospot,3,0,2011-12-09 12:50:00,4.95,12680.0,France

In [404]:
df3['Quantity'] = df3['Quantity'].apply(lambda x: x if x>0 else 0)

In [408]:
df3[df3['Quantity'] < 0]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, Backorder_Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [409]:
df3[df3['Backorder_Quantity'] > 0]

,InvoiceNo,StockCode,Description,Quantity,Backorder_Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,0,1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,Set of 3 coloured flying ducks,0,1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,Plasters in tin circus parade,0,12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,Pack of 12 pink paisley tissues,0,24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,Pack of 12 blue paisley tissues,0,24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
540449,C581490,23144,Zinc t-light holder stars small,0,11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,0,1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
541715,C581568,21258,Victorian sewing box large,0,5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
541716,C581569,84978,Hanging heart jar t-light holder,0,1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
541717,C581569,20979,36 pencils tube red retrospot,0,5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

In [410]:
df3

,InvoiceNo,StockCode,Description,Quantity,Backorder_Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,White hanging heart t-light holder,6,0,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,White metal lantern,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,Cream cupid hearts coat hanger,8,0,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,Knitted union flag hot water bottle,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,Red woolly hottie white heart.,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack of 20 spaceboy napkins,12,0,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,Children's apron dolly girl,6,0,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,Childrens cutlery dolly girl,4,0,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,Childrens cutlery circus parade,4,0,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,Baking set 9 piece retrospot,3,0,2011-12-09 12:50:00,4.95,12680.0,France

## Customer_id cleaning