In [1]:
import pandas as pd
import datetime as dt 
import time as t
import numpy as np
import openpyxl
from  matplotlib import pyplot as plt

In [29]:
df = pd.read_pickle('df3.pkl')

In [30]:
df

,InvoiceNo,StockCode,Description,Quantity,Backorder_Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,White hanging heart t-light holder,6,0,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,White metal lantern,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,Cream cupid hearts coat hanger,8,0,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,Knitted union flag hot water bottle,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,Red woolly hottie white heart.,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack of 20 spaceboy napkins,12,0,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,Children's apron dolly girl,6,0,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,Childrens cutlery dolly girl,4,0,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,Childrens cutlery circus parade,4,0,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,Baking set 9 piece retrospot,3,0,2011-12-09 12:50:00,4.95,12680.0,France

In [14]:
dt.date

TypeError: descriptor 'weekday' for 'datetime.date' objects doesn't apply to a 'str' object

### Date based Feature Engneering

In [31]:
df['InvoiceYear'] = df['InvoiceDate'].dt.year
df['InvoiceMonth'] = df['InvoiceDate'].dt.month_name()

In [32]:
df

,InvoiceNo,StockCode,Description,Quantity,Backorder_Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceYear,InvoiceMonth
0,536365,85123A,White hanging heart t-light holder,6,0,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,December
1,536365,71053,White metal lantern,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,December
2,536365,84406B,Cream cupid hearts coat hanger,8,0,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010,December
3,536365,84029G,Knitted union flag hot water bottle,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,December
4,536365,84029E,Red woolly hottie white heart.,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,December
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack of 20 spaceboy napkins,12,0,2011-12-09 12:50:00,0.85,12680.0,France,2011,December
541905,581587,22899,Children's apron dolly girl,6,0,2011-12-09 12:50:00,2.10,12680.0,France,2011,December
541906,581587,23254,Childrens cutlery dolly girl,4,0,2011-12-09 12:50:00,4.15,12680.0,France,2011,December
541907,581587,23255,Childrens cutlery circus parade,4,0,2011-12-09 12:50:00,4.15,12680.0,France,2011,December
541908,581587,22138,Baking set 9 piece retrospot,3,0,2011-12-09 12:50:00,4.95,12680.0,France,2011,December

## transactional Features

In [33]:
df['TotalSales'] = df['Quantity'] * df['UnitPrice']

In [34]:
df

,InvoiceNo,StockCode,Description,Quantity,Backorder_Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceYear,InvoiceMonth,TotalSales
0,536365,85123A,White hanging heart t-light holder,6,0,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,December,15.30
1,536365,71053,White metal lantern,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,December,20.34
2,536365,84406B,Cream cupid hearts coat hanger,8,0,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010,December,22.00
3,536365,84029G,Knitted union flag hot water bottle,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,December,20.34
4,536365,84029E,Red woolly hottie white heart.,6,0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,December,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack of 20 spaceboy napkins,12,0,2011-12-09 12:50:00,0.85,12680.0,France,2011,December,10.20
541905,581587,22899,Children's apron dolly girl,6,0,2011-12-09 12:50:00,2.10,12680.0,France,2011,December,12.60
541906,581587,23254,Childrens cutlery dolly girl,4,0,2011-12-09 12:50:00,4.15,12680.0,France,2011,December,16.60
541907,581587,23255,Childrens cutlery circus parade,4,0,2011-12-09 12:50:00,4.15,12680.0,France,2011,December,16.60
541908,581587,22138,Baking set 9 piece retrospot,3,0,2011-12-09 12:50:00,4.95,12680.0,France,2011,December,14.85

In [35]:
df.to_pickle('df4.pkl')